body {
    background-color: rgb(114, 141, 163);
    text-align: center;
}
p {
    color: rgb(0, 0, 0);
    font-size: 60%;
}
h1 {
    font-style: italic;
}
.p1 {
    color: rgb(103, 48, 155);;
    font-size: 70;
}
.imagem1 {
    text-align: center;
    font-size: 60%;
}